body{
  margin: 0;
  padding: 0;
  color: white;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.main-container{  
  height: 350px;
  width: 100%;
  border: none;
  position: absolute;
  bottom: 60px;
  display: flex;
  background-color: rgba(0,0,128,0.9);
}

.container1{
  height: 350px;
  width:25%; 
  margin-right:0px;
  text-align: center;
}

.container2{
  height: 350px;
  width: 25%; 
  margin-right: 0px;
  padding: 80px;
  box-sizing: border-box;
  text-align: left;
  display: flex;
  align-items: center;
}

.container3{
  height: 350px;
  width:25%; 
  margin-right:0px;
  padding: 20px;
  display: flex;
  align-items: center;
}

.container4{
  height: 350px;
  width:25%; 
  margin-right:0px;
  display: flex;
  align-items: center;
}

#shaastra-logo{
  width: 40%;
}

#qr-code{
  width: 90px;
  height: 90px;
}

a{
  color: grey;
}

#complaint{
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  outline: none;
  padding: 5px;
  text-decoration: underline;
  background-color: white;
  background: white;
  box-shadow: 0 0 15px white;
}

#icon1, #icon2, #icon3, #icon4{
  margin-right: 18px;
  font-size: 2.5rem;
}

.copyright-info{
  height: 60px;
  width: 100%;
  background-color: rgba(0,0,128,0.9);
  position: absolute;
  bottom: 0px;
  text-align: center;
}